# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

#files ending with a tilde (vim temp or recover files)
*.*~



#below here: https://stackoverflow.com/questions/3719243/recommended-gitignore-file-for-python-projects
# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer